@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Red+Hat+Display:ital,wght@0,500;0,700;1,800&display=swap');
 *,::after,::before {
    margin: 0;
    padding: 0;
}
:root{
    --darkgrayishblue: hsl(217, 19%, 35%);
    --darkblue: hsl(214, 17%, 51%);
    --grayishblue: hsl(212, 23%, 69%);
    --lightgrayishblue:hsl(210, 46%, 95%);
}
body{
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100vh;
}
img{
   width: 100%;
   object-fit: cover;
}
figure{
    margin: 0px;
}
.posts{
    background-color:hsl(212, 23%, 69%);
    height: 100vh;
    /* padding: 200px; */
    position: relative;
 }
.card{
    background-color: white;
    width: 920px;
    margin: auto;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-height: 262px;
    /* align-items: center; */
    /* justify-content: center; */
}
.card-image-warpper{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.post-content{
    padding: 25px 30px;
}
.post-content h2{
    margin-bottom: 15px;
}
.post-content p{
    margin-bottom: 8px;
}
.past-content-warrper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-image{
    width: 60px;
    border-radius: 50%;
}
.author-content{
    display: flex;
    align-items: center;
}
.author-info{
    padding-right: 15px;
    padding-left: 15px;
}